:root {
	--base-margin: 0.25rem 0.5rem;
	--main-color: #06b6d4;
	--accent: #dc2626;
	--accent-bis: #10b981;
	--bg-color: rgb(255, 255, 255);
	--dashboard-size: 250px;
}

body {
	margin: 0;
	padding: 0;

	font-family: sans-serif;
}

.plot-line {
	fill: none;
	stroke: var(--main-color);
	stroke-width: 1.5px;
	clip-path: path('M -3 -4 l 0 108 l 306 0 l 0 -108 z');
}

.plot-accent {
	stroke: var(--accent);
}

.tick {
	fill: none;
	stroke: #444;
	stroke-width: 0.4px;
}

.axis-tick {
	font-size: 3px;
	align-items: center;
}

.axis-label {
	text-anchor: middle;
	font-size: 3.5px;
}
